<link rel="stylesheet" href="./cookie.css">
<link rel="stylesheet" href="../../assets/styles/global.css">
<div id="cookiePopup">
    <img src="../../assets/images/global/cookie.png" />
    <p>
      Our website uses cookies to provide your browsing experience and
      relevant information. Before continuing to use our website, you agree &
      accept of our <a href="#">Cookie Policy & Privacy.</a>
    </p>
    <button id="acceptCookie">Accept</button>
  </div>
  <script src="./cookie.js"></script>

  