<link rel="stylesheet" href="../../components/left-sidebar/left-sidebar.css">

<div class="navigation">
    <h2>Categories</h2>
    <ul class="categories">
        <li><a href="../../pages/home/home.html?category=politics/" id="politics">Politics</a></li>
        <li><a href="../../pages/home/home.html?category=business/" id="business">Business</a></li>
        <li><a href="../../pages/home/home.html?category=science/" id="science">Science</a></li>
        <li><a href="../../pages/home/home.html?category=tech/" id="tech">Tech</a></li>
        <li><a href="../../pages/home/home.html?category=gaming/" id="gaming">Gaming</a></li>
        <li><a href="../../pages/home/home.html?category=showbiz/" id="showbiz">Showbiz</a></li>
        <li><a href="../../pages/home/home.html?category=sport/" id="sport">Sport</a></li>
    </ul>

    <div class="archive-and-feedback">
        <p><em><a href="">Archive</a></em></p>
        <p><em><a href="">Leave feedback</a></em></p>
    </div>
</div>