<link rel="stylesheet" href="../../components/left-sidebar/left-sidebar.css">

<div class="navigation">
    <p id="categories-title">Categories</p>
    <div class="categories">
        <p><a href="" id="politics">Politics</a></p>
        <p><a href="" id="business">Business</a></p>
        <p><a href="" id="science">Science</a></p>
        <p><a href="" id="tech">Tech</a></p>
        <p><a href="" id="gaming">Gaming</a></p>
        <p><a href="" id="showbiz">Showbiz</a></p>
        <p><a href="" id="sport">Sport</a></p>
    </div>

    <div class="archive-and-feedback">
        <p><em><a href="">Archive</a></em></p>
        <p><em><a href="">Leave feedback</a></em></p>
    </div>
</div>