a {
   text-decoration: none;
}

.navigation {
   position: absolute;
   display: flex;
   flex-direction: column;
   justify-content: space-around;
   align-items: center;
   width: 50%;
   top: 70px;
   background-color: var(--primary-color);
   height: calc(100vh - 70px);
   transform: translateX(-100%);
   transition: transform 250ms ease-in;
   z-index: 20;
}

.navigation.active {
   transform: translateX(0);
}
.categories {
   list-style-type: none;
   display: flex;
   flex-direction: column;
   gap: 12px;
}

.categories li {
   padding-left: 5px;
   border-left: 1px solid #fff;
}
.categories li a {
   color: #fff;
}

@media only screen and (min-width: var(--screen-lg)) {
   .navigation {
      position: fixed;
      flex: 1 1 10%;
      display: flex;
      flex-flow: column nowrap;
      /* flex: 1 1 10%; */
      /* justify-content: space-between; */
      width: 10%;
   }

   .categories {
      z-index: 1;
      top: 0;
      left: 0;
      overflow-x: hidden;
      padding-top: 20px;
      padding-bottom: 50px;
   }

   .categories p {
      border-bottom: 1.5px solid skyblue;
      padding: 5px;
   }

   .categories a {
      text-decoration-line: none;
      color: black;
   }

   .archive-and-feedback a {
      text-decoration-line: none;
      color: black;
   }

   .archive-and-feedback p {
      padding-top: 1px;
   }
}
