@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
   --primary-color: #2196f3;
   --secondary-color: #90caf9;
}

*,
*::after,
*::before {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: 'Nunito', sans-serif;
}

body {
   overflow-x: hidden;
   min-height: 100vh;
}

.main-div {
   display: flex;
}

.left {
   display: flex;
   flex-flow: column nowrap;
   flex: 1 1 10%;
   justify-content: space-between;
   width: 10%;
}

.right {
   display: flex;
   flex: 1 1 20%;
   flex-flow: column nowrap;
}

.weather {
   background-color: skyblue; 
   color: white;
   position: sticky;
   height: 13%;   
   padding: 2.5px;
   border-radius: 20px;
   width: 80%;
   margin: 15px auto;
}

#container-sidebar {
   position: fixed;
}

.hide {
   display: none;
}