/* .news {
   display: flex;
   position: relative;
   padding-bottom: 20px;
   padding-top: 20px;
} */

#articles section {
   display: flex;
   /* position: relative; */
   padding-bottom: 20px;
   /* padding-top: 20px; */
}

#articles img {
   width: 275px;
   height: 175px;
   padding-right: 25px;
}

#articles div {
   /* display: flex; */
   font-size: 15px;
}

/* .news img {
   width: 275px;
   height: 175px;
   padding-right: 25px;
} */



#main-article img {
   /* width: 90%; */
   display: block;
   margin-left: auto;
   margin-right: auto;
}

#articles {
   display: flex;
   flex-flow: column nowrap;
   padding: 75px;
}

button {
   font-size: 12.5px;
   border-radius: 5px;
   border: 0 solid;
   background-color: var(--secondary-color);
}

button a {
   text-decoration: none;
   color: #fff;
   padding: 25px;
   bottom: 1000;
}

/* .content {
   font-size: 15px;
} */

.pagination {
   display: inline-block;
   align-self: center;
   margin-top: 25px;
   padding: 10px;
 } 

 /* .pagination a {
   color: black;
   float: left;
   padding: 8px 16px;
   text-decoration: none;
   cursor: pointer;
 }
 
 .pagination a.active {
   background-color: var(--secondary-color);
   color: white;
   border-radius: 7.5px;
 }
 
 .pagination a:hover:not(.active) {
   background-color: #ddd;
   border-radius: 5px;
 } */
 
 .pagination p {
   color: black;
   float: left;
   padding: 8px 16px;
   text-decoration: none;
   cursor: pointer;
 }
 
 .pagination p.active {
   background-color: var(--secondary-color);
   color: white;
   border-radius: 5px;
 }
 
 .pagination p:hover {
   background-color: #ddd;
   border-radius: 5px;
 }

@media screen and (max-width: 992px){
   #articles section {
      flex-wrap: wrap;
   }
}

