*{
    box-sizing: inherit;
}

body{
    display: flex;
}

main{
    flex: 1 1 70%;
    margin: 10px 5px;
    padding: 10px 15px;
    position: relative;
}

#left-sidebar{
    flex: 1 1 10%;
    display: flex;
    flex-flow: column nowrap;
    background-color: #FAFAFA;
    justify-content: space-between;
    padding: 40px;
}

#right-sidebar {
    flex: 1 1 20%;
    background-color: #FAFAFA;
    display: flex;
    flex-flow: column nowrap;
}

.news{
    margin: 10px 5px;
    position: relative;
    justify-content: center;
    align-self: auto;
    padding-bottom: 20px;
    padding-top: 20px;
}

.news img{
    width: 19%;
    height: 100%;
    float: left;
    padding-right: 10px;
} 

#main-article img{
    width: 90%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#adds img{
    display: flex;
    flex-flow: column nowrap;
    width: 80%;
    padding: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* #left-sidebar{
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
} */